[workspace]
members = [
    "prim-cli",
    "prim-tok",
    "prim-util",
    "prim-parse",
    "prim-codegen",
    "prim-rt", "prim-compiler", "prim-hir",
]
resolver = "2"

[workspace.lints.clippy]
uninlined_format_args = "allow"
too_many_arguments = "allow"
